<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Formulario crear CLiente</h1>


    <form th:action="@{/demo/crear}" th:object="${cliente}" method="post">

        <label>Nombre</label>
        <input th:fiel="*{nombre}">

        <br/>

        <label>Nombre</label>
        <input th:fiel="*{apellido1}">

        <br/>

        <label>Nombre</label>
        <input th:fiel="*{apellido2}">

        <br/>

        <button type="submit">Enviar</button>

    </form>

</body>
</html>